@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&display=swap');

$font: 'Gothic A1', sans-serif;
$primary-color: #000000;
$primary-font-color: #FFFFFF;
$secondary-font-color: #949495;