@import "./styles/variable.scss";

body {
  font-family: $font;
  margin: 0;
  background-color: $primary-color;
  color: $secondary-font-color;
  font-size: 14px;
}

.main-container{
  margin: 4rem;
}

.project-box{
  overflow-y: scroll;
  height: 700px;
  width: 92%;
}

@media only screen and (max-width: 600px) {
  .main-container{
    margin: 1.5rem;
  }
  .project-box{
    overflow-y:hidden;
  }

}
